@import "../../elements/Button/_Variables";
$c-header-nav--button-color: $e-button--default-color;
$c-header-nav--button-padding: $e-button--padding;
$c-header-nav--button-background-hover: $e-button--default-background-hover;